hr {
  margin: 50px 0;
}

img {
  min-width: 150px;
  min-height: 161px;
}
.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

.vertical-align {
  display: inline-block;
  vertical-align: middle;
}
h4 {
  margin-bottom: 30px;
}
h5{
  color: #43617D;
}
ul {
  margin-bottom: 30px;
}

table {
  margin-top: 20px;
}

.card-title {
  margin-top: 10px;
}

.card-subtitle {
  font-size: 10pt;
  margin-bottom: 15px;
}
.projectCard{
  max-width: 500px;
  margin: 40px 10px;
}
.projectsDiv {
  margin-top: 40px;
}
@media (min-width: 576px) {
  .navbar-nav {
    width: 100%;
  }
  #nameText {
    font-size: 32pt;
  }
  img {
    margin-right: 40px;
  }
  #show-more-button{
    color: #BAB3AA;
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .d-flex {
    flex-direction: column;
    align-items: center;
  }
  img {
    margin-bottom: 20px;
  }

}
